<section class="mt-4 mb-3 d-flex align-items-center justify-content-center">
    <ul class="nav nav-pills d-grid gap-4">
        <li class="nav-item dropdown border bg-dark border-warning rounded">
            <a class="nav-link dropdown-toggle text-warning fw-bold text-center" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Categorias de productos</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fw-bold" href="#">Legumbres</a></li>
                <li><a class="dropdown-item fw-bold" href="#">Lacteos</a></li>
                <li><a class="dropdown-item fw-bold" href="#"></a></li>
                <li><a class="dropdown-item fw-bold" href="#"></a></li>
                <li><a class="dropdown-item fw-bold" href="#"></a></li>
                <li><a class="dropdown-item fw-bold" href="#"></a></li>
            </ul>
        </li>
        <li class="nav-item dropdown border bg-dark border-warning rounded">
            <a class="nav-link dropdown-toggle text-center text-warning fw-bold" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Productos por pagina</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fw-bold" href="/products?limit=1&sort=1">1 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=2&sort=1">2 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=3&sort=1">3 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=4&sort=1">4 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=5&sort=1">5 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=6&sort=1">6 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=1&sort=-1">1 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=2&sort=-1">2 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=3&sort=-1">3 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=4&sort=-1">4 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=5&sort=-1">5 producto por página</a></li>
                <li><a class="dropdown-item fw-bold" href="/products?limit=6&sort=-1">6 producto por página</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown border bg-dark border-warning rounded">
            <a class="nav-link dropdown-toggle text-center text-warning fw-bold" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Filtrar por precio</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fw-bold" href="#">Mas caro</a></li>
                <li><a class="dropdown-item fw-bold" href="#">Mas barato</a></li>
            </ul>
        </li>
    </ul>
</section>