<nav class="container-fluid d-flex align-items-center justify-content-center navbar fixed-bottom bg-dark">
  <div class="d-flex align-items-center justify-content-center gap-5">
    <p class="text-light fw-semibold"><span class="fw-bold fs-5 text-success">Derechos reservados 2024</span>
  </div>
</nav>